*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: cornflowerblue;
    
}

main{
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

h2{
    font-size: 1.2em;
    text-align: center;
}



section{
    
    margin-top: 10px;
    
     
}


div{
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-around;
    transition: 1s;
    animation: degrade 3s alternate infinite;
    
    
}

div#borda{
    background-image: linear-gradient(to right, black,#1f1313af,black);
    background-size: 500% 100%;
    height: 20px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    animation: degrade 3s alternate infinite;
    cursor: pointer;

   }

  div#bord{
    background-image: linear-gradient(to right, black,#1f1313af,black);
    background-size: 500% 100%;
    height: 20px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
  }

  div#bor{
    background-image: linear-gradient(to right, black,#1f1313af,black);
    background-size: 500% 100%;
    height: 20px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
  }

div a{
    color: white;
    text-decoration: none;
}

div#borda:hover{
    transform: scale(.9);
}
div#bord:hover{
    transform: scale(.9);
}

div#bor:hover{
    transform: scale(.9);
}

div a:hover{
    text-decoration: underline;
}

span i{
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.589);
    font-size: 10em;
}


div i{
    color: white;
    font-size: 1.3em;
    margin-top: -5px;
}

div#icons{
    display: flex;
    text-align: center;
    margin-top: 5px;
    
}

div#icons span{
    margin: 10px;
}

div#icons span i{
    background-color: black;
    width: 30px;
    padding: 9px;
    border-radius: 50%;
    
}

div#icons span i:hover{
    transition: border 1s;
    border: 2px solid white;
}


span#sms{
    font-size: 1.2em;
    cursor: pointer;
    animation: girar 2s ease-in-out;
    
}
span#twitter{
    font-size: 1.2em;
    cursor: pointer;
    animation: girar 2s ease-in-out;
}

span#what{
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: -2;
    animation: girar 1s ease-in-out;
}

@keyframes girar {
    0%{
        transform: scale(.5);
    }

    100%{
         
    }
}


@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position-x: 100%;
    }
}

@media screen and (min-width:400px) {
    div#borda{
        width: 300px;
    }

    div#bord{
        width: 300px;
    }

    div#bor{
        width: 300px;
    }

    p{
        font-size: 15px;
        animation: paragrafos 1s;
    }

    @keyframes paragrafos {
        0%{
            transform: scale(.5);
        }

        100%{
            transform: scale(1);
        }
    }
}
